Ignore element order in `PROPFIND` request bodies

[RFC 4918, §17](http://webdav.org/specs/rfc4918.html#xml-extensibility) states that the order of elements in WebDAV XML documents is irrelevant, yet `dandidav` currently requires elements in `PROPFIND` bodies to match the order given by the DTD fragments in the RFC.

I think the only place where this actually matters is parsing "allprop" requests.